* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.quiz-card {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(400, 100, 50, 0.2);
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}
ul li label {
    cursor: pointer;
}
button {
    background-color: #3742fa;
    border: none;
    display: block;
    width: 100%;
    padding: 2rem;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    padding: 1.2rem;
    cursor: pointer;

}
button:hover {
    background-color: #4d55f5;
}
h2 {
    padding: 1.2rem;
    text-align: center;
    margin: 0;
}